<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %} FORUM {% endblock %}</title>
</head>
<body>

{% block body %}
{% endblock %}

</body>
<footer>
    <h3>Romain TELLIER | UPJV Licence pro web développeur</h3>
</footer>
</html>