{% extends "RTPlatformBundle::layout.html.twig" %}

{% block title %}
    Ajouter un thème - {{ parent() }}
{% endblock %}

{% block rtplatform_body %}

    <h2>Ajouter un thème</h2>

    {{ include("RTPlatformBundle:Advert:form.html.twig") }}

    <p>
        Vous allez ajouter un thème, merci de ne pas changer
        l'esprit général du forum.
    </p>

   {# <p>
        <a href="{{ path('rt_platform_view') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour aux annonces
        </a>
    </p>#}

{% endblock %}