{% extends "RTPlatformBundle::layout.html.twig" %}

{% block title %}
    Modifier un thème - {{ parent() }}
{% endblock %}

{% block rtplatform_body %}

    <h2>Modifier un thème</h2>

    {{ include("RTPlatformBundle:Advert:form_edit.html.twig") }}

    <p>
        Vous éditez une annonce déjà existante, merci de ne pas changer
        l'esprit général de l'annonce déjà publiée.
    </p>

    <p>
        <a href="{{ path('rt_platform_view', {'id': theme.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'annonce
        </a>
    </p>

{% endblock %}