{% extends "RTPlatformBundle::layout.html.twig" %}

{% block title %}
    Modifier une discussion
{% endblock %}

{% block rtplatform_body %}

    <h2>Modifier une discussion</h2>

    {{ include("RTPlatformBundle:Advert:form_edit_discussion.html.twig") }}


    <p>
        Vous éditez une discussion déjà existante, merci de ne pas changer
        l'esprit général de la discussion déjà publiée.
    </p>

    <p>
       {# <a href="{{ path('rt_platform_view', {'id': theme.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour au thème
        </a>#}
    </p>

{% endblock %}