.top-header {
    position: absolute;
    background-color: #3b4b6b;
    color: white;
    text-align: center;
    top:0;
    right:0;
    left:0;
    margin-bottom: 80px;
}
.top-connected-user {
    position: absolute;
    right: 20px;
    top:20px;
    color: white;
}
#menu{
    margin-top: 70px;
    text-align: center;
    width: 100%;
}
.nav-pills>li>a:hover{
    color: black;
}
tbody td {
    vertical-align: baseline !important;
    padding: 16px !important;
}
.main-content{
    margin: 10px 40px 10px 40px;
}
.background-well {
    background-color: #bac7d6 !important;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #FFFFFF;;
    background-color: #3a3a3a;
    z-index: 10;
}
.nav{
     display: inline-block;
     float: none;
     vertical-align: top;
 }
